services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: article-tags
    ports:
      - "50051:50051"
    environment:
      MONGODB_URI: mongodb://mongo:27017
      DB_NAME: article
      GRPC_PORT: 50051
      STOPWORDS_PATH: /app/internal/utils/stopwords.txt
    restart: unless-stopped
    depends_on:
      - mongo

volumes:
  mongo_data: