services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  app:
    build:
      context: .
      args:
        - DB_NAME=${DB_NAME}
        - URI=${URI}
        - GRPC_PORT=${GRPC_PORT}
    container_name: article-tags
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
    environment:
      - URI=${URI}
      - DB_NAME=${DB_NAME}
      - GRPC_PORT=${GRPC_PORT}
      - STOPWORDS_PATH=/app/internal/utils/stopwords.txt
    restart: unless-stopped
    depends_on:
      - mongo

volumes:
  mongo_data: