version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: articles
    volumes:
      - mongo-data:/data/db  

  grpc-server:
    build: .
    container_name: grpc-server
    restart: always
    ports:
      - "50051:50051"
    environment:
      PORT: 50051
      DB_NAME: articles
      URI: mongodb://root:example@mongo:27017/articles?authSource=admin
    depends_on:
      - mongo

volumes:
  mongo-data: