name: CI

on:
  push:
    branches: [ main ]
env :
  DB_NAME: ${{ secrets.DB_NAME }}
  URI: ${{ secrets.URI }}
  GRPC_PORT: ${{ secrets.GRPC_PORT }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: mary1385/article-tags:latest
          build-args: |
            DB_NAME=${{ secrets.DB_NAME }}
            URI=${{ secrets.URI }}
            GRPC_PORT=${{ secrets.GRPC_PORT }}
